
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


.press-start-2p-regular {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
  }




.header,
.wrapper,
body {
  display: flex;
}
.profile,
.table th,
.title,
.whatsapp-card,
.whatsapp-card a {
  color: #fff;
}
.error-message,
.form-group label {
  font-weight: 700;
}
.header,
.title h1 {
  text-transform: uppercase;
}
.profile,
.title,
footer {
  text-align: center;
}
.info-alert .icon,
.info-alert p,
.info-alert strong {
  vertical-align: middle;
  display: inline-block;
}

.header .title{
    font-family: "Press Start 2P";
    color: #FFD548;
}

body,
html {
  height: 100%;
  margin: 0;
}
body {
  flex-direction: column;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  background: url("data:image/svg+xml,%3Csvg%20width%3D%22100%25%22%20height%3D%22100%25%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%3E%3Cdefs%3E%3C!--%20Gradient%20Definitions%20--%3E%3ClinearGradient%20id%3D%22grad1%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%22100%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20style%3D%22stop-color%3Argb(255%2C0%2C150)%3Bstop-opacity%3A1%22%20%2F%3E%3Cstop%20offset%3D%22100%25%22%20style%3D%22stop-color%3Argb(0%2C204%2C255)%3Bstop-opacity%3A1%22%20%2F%3E%3C%2FlinearGradient%3E%3ClinearGradient%20id%3D%22grad2%22%20x1%3D%22100%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%220%25%22%20style%3D%22stop-color%3Argb(255%2C204%2C0)%3Bstop-opacity%3A1%22%20%2F%3E%3Cstop%20offset%3D%22100%25%22%20style%3D%22stop-color%3Argb(204%2C51%2C255)%3Bstop-opacity%3A1%22%20%2F%3E%3C%2FlinearGradient%3E%3C%2Fdefs%3E%3C!--%20Background%20Rectangles%20--%3E%3Crect%20x%3D%2250%22%20y%3D%2250%22%20width%3D%22200%22%20height%3D%22200%22%20fill%3D%22url(%23grad1)%22%20opacity%3D%220.8%22%2F%3E%3Crect%20x%3D%22300%22%20y%3D%22100%22%20width%3D%22150%22%20height%3D%22150%22%20fill%3D%22url(%23grad2)%22%20opacity%3D%220.7%22%2F%3E%3C!--%20Circles%20--%3E%3Ccircle%20cx%3D%22200%22%20cy%3D%22400%22%20r%3D%2280%22%20fill%3D%22url(%23grad2)%22%20opacity%3D%220.6%22%2F%3E%3Ccircle%20cx%3D%22450%22%20cy%3D%22300%22%20r%3D%2260%22%20fill%3D%22url(%23grad1)%22%20opacity%3D%220.7%22%2F%3E%3Ccircle%20cx%3D%22100%22%20cy%3D%22100%22%20r%3D%2230%22%20fill%3D%22rgba(255%2C255%2C255%2C0.2)%22%20%2F%3E%3C!--%20Small%20Squares%20--%3E%3Crect%20x%3D%22400%22%20y%3D%22400%22%20width%3D%22100%22%20height%3D%22100%22%20fill%3D%22rgba(255%2C255%2C255%2C0.3)%22%20%2F%3E%3Crect%20x%3D%22550%22%20y%3D%22150%22%20width%3D%2250%22%20height%3D%2250%22%20fill%3D%22rgba(255%2C255%2C255%2C0.4)%22%20%2F%3E%3C!--%20Background%20--%3E%3Crect%20width%3D%22100%25%22%20height%3D%22100%25%22%20fill%3D%22url(%23grad1)%22%20opacity%3D%220.15%22%2F%3E%3C%2Fsvg%3E")
    no-repeat center center fixed;
  background-size: cover;
}
.wrapper {
  flex: 1;
  justify-content: center;
  align-items: center;
}
.content {
  margin: auto;
  max-width: 900px;
}
.header {
  justify-content: center;
  align-items: center;
  height: 200px;
  background: #061024;
  position: relative;
  overflow: hidden;
  border-radius: 10px 10px 0 0;
}
.loader {
  border: 8px solid #f3f3f3;
  border-radius: 50%;
  border-top: 8px solid #007bff;
  width: 60px;
  height: 60px;
  animation: 1s linear infinite spin;
  margin: auto;
  display: none;
}
.badge-wrapper,
.milestone::after,
.milestonemain::after {
  display: inline-block;
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
.title {
  z-index: 10;
}
.title h1 {
  font-size: 2em;
  margin: 0;
  padding: 0;
}
.title p {
  font-size: 1.5em;
  margin: 10px 0 0;
}
@media (max-width: 768px) {
  .title h1 {
    font-size: 1.5em;
  }
  .title p {
    font-size: 1em;
  }
}
.rockets,
.stars {
  position: absolute;
  width: 100%;
  height: 200px;
  top: 0;
  left: 0;
  z-index: 1;
}
.rockets span,
.stars span {
  position: absolute;
  display: block;
}
.badge-wrapper,
.badge-wrapper-milestone,
.info-alert,
.percentage,
.percentage span {
  position: relative;
}
.rockets span {
  width: 30px;
  height: 50px;
  background: url(data:image/svg+xml,%3C!DOCTYPE%20svg%20PUBLIC%20%22-%2F%2FW3C%2F%2FDTD%20SVG%201.1%2F%2FEN%22%20%22http%3A%2F%2Fwww.w3.org%2FGraphics%2FSVG%2F1.1%2FDTD%2Fsvg11.dtd%22%3E%3C!--%20Uploaded%20to%3A%20SVG%20Repo%2C%20www.svgrepo.com%2C%20Transformed%20by%3A%20SVG%20Repo%20Mixer%20Tools%20--%3E%3Csvg%20height%3D%2264px%22%20width%3D%2264px%22%20version%3D%221.1%22%20id%3D%22Layer_1%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20viewBox%3D%220%200%20512%20512%22%20xml%3Aspace%3D%22preserve%22%20fill%3D%22%23000000%22%3E%3Cg%20id%3D%22SVGRepo_bgCarrier%22%20stroke-width%3D%220%22%2F%3E%3Cg%20id%3D%22SVGRepo_tracerCarrier%22%20stroke-linecap%3D%22round%22%20stroke-linejoin%3D%22round%22%2F%3E%3Cg%20id%3D%22SVGRepo_iconCarrier%22%3E%3Cpath%20style%3D%22fill%3A%23ffffff%3B%22%20d%3D%22M353.278%2C379.384H159.102c-7.579%2C0-13.727-6.135-13.743-13.713%20c-0.004-1.861-0.41-186.327-0.379-217.421c0.058-61.913%2C63.73-121.176%2C83.243-137.865c16.24-13.889%2C39.78-13.841%2C55.973%2C0.115%20c22.198%2C19.129%2C52.373%2C52.623%2C70.487%2C89.258c3.364%2C6.804%2C0.576%2C15.047-6.227%2C18.41c-6.807%2C3.363-15.047%2C0.576-18.41-6.227%20c-16.294-32.951-43.637-63.25-63.795-80.62c-5.833-5.026-14.312-5.051-20.164-0.048c-35.566%2C30.419-73.584%2C77.13-73.621%2C117.004%20c-0.025%2C26.047%2C0.257%2C160.023%2C0.35%2C203.621H353.28c7.589%2C0%2C13.743%2C6.154%2C13.743%2C13.743S360.869%2C379.384%2C353.278%2C379.384z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23ffffff%3B%22%20d%3D%22M426.41%2C407.465l-72.576-41.234V189.716l54.107%2C51.233c11.79%2C11.165%2C18.469%2C26.688%2C18.469%2C42.926%20V407.465z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23ffffff%3B%22%20d%3D%22M426.41%2C421.21c-2.342%2C0-4.682-0.598-6.788-1.795l-72.576-41.234%20c-4.299-2.441-6.955-7.005-6.955-11.948V189.716c0-5.49%2C3.268-10.453%2C8.312-12.624c5.044-2.169%2C10.894-1.13%2C14.881%2C2.644%20l54.107%2C51.233c14.465%2C13.699%2C22.763%2C32.982%2C22.763%2C52.904v123.591c0%2C4.894-2.602%2C9.417-6.83%2C11.878%20C431.189%2C420.586%2C428.799%2C421.21%2C426.41%2C421.21z%20M367.578%2C358.233l45.09%2C25.619v-99.976c0-12.406-5.167-24.415-14.175-32.947%20l-30.914-29.273v136.577H367.578z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23ffffff%3B%22%20d%3D%22M85.59%2C407.465l72.576-41.234V189.716l-54.107%2C51.233c-11.79%2C11.165-18.469%2C26.688-18.469%2C42.926%20C85.59%2C283.875%2C85.59%2C407.465%2C85.59%2C407.465z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23ffffff%3B%22%20d%3D%22M85.59%2C421.21c-2.389%2C0-4.777-0.623-6.913-1.865c-4.229-2.461-6.83-6.984-6.83-11.878V283.875%20c0-19.922%2C8.297-39.205%2C22.763-52.903l54.107-51.235c3.987-3.772%2C9.843-4.81%2C14.881-2.644c5.044%2C2.17%2C8.312%2C7.133%2C8.312%2C12.625%20v176.515c0%2C4.945-2.657%2C9.508-6.955%2C11.948l-72.576%2C41.234C90.274%2C420.612%2C87.93%2C421.21%2C85.59%2C421.21z%20M144.423%2C221.656%20l-30.914%2C29.274c-9.009%2C8.53-14.175%2C20.538-14.175%2C32.945v99.976l45.09-25.619V221.656H144.423z%22%2F%3E%3Ccircle%20style%3D%22fill%3A%23ffffff%3B%22%20cx%3D%22255.994%22%20cy%3D%22185.588%22%20r%3D%2246.892%22%2F%3E%3Cpath%20style%3D%22fill%3A%23ffffff%3B%22%20d%3D%22M256%2C246.227c-33.434%2C0-60.635-27.201-60.635-60.634c0-33.434%2C27.201-60.635%2C60.635-60.635%20s60.635%2C27.201%2C60.635%2C60.635C316.635%2C219.027%2C289.434%2C246.227%2C256%2C246.227z%20M256%2C152.445c-18.278%2C0-33.149%2C14.87-33.149%2C33.149%20s14.87%2C33.147%2C33.149%2C33.147s33.149-14.869%2C33.149-33.147S274.278%2C152.445%2C256%2C152.445z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23ffffff%3B%22%20d%3D%22M205.026%2C420.675c-0.216%2C1.909-0.338%2C3.844-0.338%2C5.809c0%2C50.74%2C51.31%2C71.772%2C51.31%2C71.772%20s51.31-19.892%2C51.31-71.772c0-1.965-0.122-3.9-0.338-5.809H205.026z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23ffffff%3B%22%20d%3D%22M256%2C512c-1.771%2C0-3.543-0.342-5.213-1.027c-2.442-1.002-59.841-25.211-59.841-84.489%20c0-2.379%2C0.143-4.851%2C0.423-7.347c0.782-6.953%2C6.663-12.207%2C13.658-12.207h101.947c6.995%2C0%2C12.875%2C5.254%2C13.658%2C12.207%20c0.28%2C2.494%2C0.423%2C4.967%2C0.423%2C7.347c0%2C60.595-57.632%2C83.634-60.085%2C84.587C259.368%2C511.689%2C257.685%2C512%2C256%2C512z%20M218.977%2C434.418%20c3.823%2C27.415%2C26.791%2C42.919%2C37.163%2C48.603c10.438-5.497%2C33.208-20.545%2C36.913-48.603H218.977z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E)
    center/contain no-repeat;
  bottom: -50px;
  animation: 15s infinite rise;
}
.rockets span:first-child {
  left: 10%;
  animation-duration: 10s;
  animation-delay: 2s;
}
.rockets span:nth-child(2) {
  left: 30%;
  animation-duration: 12s;
  animation-delay: 4s;
}
.rockets span:nth-child(3) {
  left: 50%;
  animation-duration: 14s;
  animation-delay: 6s;
}
.rockets span:nth-child(4) {
  left: 70%;
  animation-duration: 16s;
  animation-delay: 8s;
}
.rockets span:nth-child(5) {
  left: 90%;
  animation-duration: 18s;
  animation-delay: 10s;
}
@keyframes rise {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-1500px);
  }
}

.form-div {
  padding: 40px 20px;
  background-color: #ffffffd6;
  border-radius: 0 0 10px 10px;
  border-width: 1px;
  border-color: #061024;
  border-style: inset;
  border-top: none;
}
footer {
  padding: 10px;
}
.btn-primary,
.table th {
  background-color: #007bff;
}
.foot-note {
  font-size: 0.9em;
}
.btn-primary {
  border: none;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background-color: #0056b3;
}
.table {
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 0;
}
.table td,
.table th {
  font-size: calc(0.55em + 0.5vw);
}
.profile {
  margin-top: 20px;
  background: linear-gradient(360deg, #051125, #004fa4fc);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
}
.profile .avatar {
  border-radius: 50%;
  border: 5px solid #fff;
}
.arcade-points,
.from-admin,
.swag-ms,
.table-responsive,
.whatsapp-card {
  border-radius: 10px;
  box-shadow: 0 4px 8px rgb(0 0 0 / 0.2);
}
.swag-ms .card-header {
  border-radius: 10px 10px 0 0;
}
.swag-ms .card-body {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
}
.swag-ms p {
  margin-bottom: 0;
}
.swag-info-ms {
  cursor: pointer;
}
.profile h2 {
  margin-top: 10px;
}
.profile p {
  font-size: 1.2em;
  color: #e9ecef;
}
.chart {
  padding: 0;
  background: #fff;
}
.arcade-points {
  background: #164086;
  color: #fff;
  margin-top: 20px;
}
.from-admin {
  background-color: #ffeb3b;
  color: #000;
  margin-top: 20px;
  padding: 0;
}
.from-admin .card-header {
  animation: pulse 1.5s infinite;
  transition: transform 0.3s ease-in-out;
}
@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.02);
  }
  100% {
    transform: scale(1);
  }
}
.whatsapp-card {
  background: #25d366;
  padding: 0;
  margin-top: 20px;
  font-size: 0.8em;
}
.card,
.card-header {
  background-color: #fff0;
}
.whatsapp-card a:hover {
  text-decoration: none;
}
.error-message {
  color: #dc3545;
}
.badge-wrapper .badge {
  position: absolute;
  top: -12px;
  left: -12px;
  background-color: #a09a9a4d;
  color: #6b6a6a;
  font-size: 9px;
  border-radius: 0;
}
.badge-wrapper-milestone .badge-milestone {
  position: absolute;
  top: -12px;
  right: -12px;
  background-color: #00000077;
  color: #fff;
  font-size: 0.7em;
  border-radius: 0;
  min-width: 17%;
}
#disclaimer,
#scrapeForm a,
.disclaimer {
  font-size: 0.9em;
}
.card {
  border: none;
}
.card-header {
  border-bottom: none;
}
.card-body {
  transition: max-height 3s;
}
.card-body.collapsing {
  transition: none;
}
.percentage::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 0;
}
.percentage span {
  z-index: 1;
}
.standard .percentage {
  background-color: rgb(255 0 0 / 0.3);
}
.advanced .percentage {
  background-color: rgb(255 165 0 / 0.3);
}
.premium .percentage {
  background-color: rgb(255 255 0 / 0.3);
}
.premium-plus .percentage {
  background-color: rgb(0 255 0 / 0.3);
}
.milestone::before {
  content: "→ ";
  color: green;
}
.milestonedone::after {
  content: " ✓";
  color: green;
}
.milestone::after,
.milestonemain::after {
  content: "";
  width: 6px;
  height: 6px;
  background-color: green;
  border-radius: 50%;
  margin-left: 6px;
  animation: 1.5s ease-in-out infinite blink;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}
.ref {
  text-decoration: underline;
}
.info-alert {
  padding: 20px;
  border: 2px solid #17a2b8;
  background-color: #d1ecf1;
  color: #0c5460;
  border-radius: 5px;
  box-shadow: 0 2px 10px rgb(0 0 0 / 0.1);
  font-size: 1em;
}
h5 {
  font-size: 1em;
}
.info-alert .icon {
  font-size: 24px;
  margin-right: 10px;
}
.info-alert p {
  margin: 0;
}
table i {
  cursor: pointer;
}
.bonuspts {
  color: green;
}
.table-striped-row {
  background-color: rgb(0 0 0 / 0.05);
}
.whatsapp-icon .bi-whatsapp {
  color: #25d366;
}
.linkedin-icon .bi-linkedin {
  color: #0a66c2;
}
.instagram-icon .bi-instagram {
  color: #e1306c;
}
.youtube-icon .bi-youtube {
  color: red;
  border-radius: 4px;
}
svg {
  max-width: 100%;
  height: auto;
}
.glow {
  filter: drop-shadow(0 0 10px #0f0);
}
.node-text {
  fill: #fff;
  font-size: 12px;
  font-weight: 700;
  text-anchor: middle;
  dominant-baseline: middle;
}
